body {
  font-family: 'Montserrat', sans-serif;
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.page-title {
  margin-bottom: 15px;
}
.nav-link {
  display: block;
  margin: 20px;
  width: 100px;
  padding: 8px 12px;
  border: 0;
  border-radius: 10px;
  background-color: #ebecf0;
  text-shadow: 1px 1px 0 #fff;
  font: inherit;
  color: #61677c;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  transition: all 0.2s ease-in-out;
}
.nav-link:hover,
.nav-link:focus {
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}
/* gallery */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  margin: 0 auto;
  max-width: 1340px;
}
/* form */
.feedback-form {
  width: 408px;
  padding: 24px;
}
label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
input,
textarea {
  margin-top: 8px;
  padding: 8px;
  font-family: inherit;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
}
input:hover,
input:focus,
textarea:hover,
textarea:focus {
  border: 1px solid #000;
  outline: none;
}
textarea {
  resize: none;
}
button {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  min-width: 95px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
button:hover,
button:focus {
  background: #6c8cff;
}
