:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  /* font-size: 16px;
  line-height: 24px;
  font-weight: 400; */

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* gallery */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  margin: 0 auto;
  max-width: 1340px;
}
.page-title {
  margin-bottom: 15px;
}
.nav-link {
  display: block;
  margin: 20px;
  width: 100px;
  padding: 8px 12px;
  border: 0;
  border-radius: 10px;
  background-color: #ebecf0;
  text-shadow: 1px 1px 0 #fff;
  font: inherit;
  color: #61677c;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  transition: all 0.2s ease-in-out;
}
.nav-link:hover,
.nav-link:focus {
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}
